.profile__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3em;
  margin-top: 3em;
}
.profile__wrapper {
  margin-top: 2.4em;
  text-align: center;
}
.profile__logo-wrapper {
  border: 1px solid black;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}
.profile__logo-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.profile__work-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 2em;
}
